.l_main
  position: relative
  padding-bottom: "calc(1 * %s)" % var(--gap-l)
  @media screen and (min-width: 1400px)
    margin-left: "calc(2 * %s)" % var(--gap-l)
    margin-right: "calc(2 * %s + %s / 2)" % (var(--gap-l) var(--width-left))
  @media screen and (min-width: $device-tablet)
    padding-top: "calc(2 * %s)" % var(--gap-l)
  header
    margin: 4rem 1rem 2rem
    .logo-wrap
      margin: 0


// 念两句诗
.poem-wrap {
    position: relative !important;
    width: 730px !important;
    max-width: 80% !important;
    border: 2px solid #797979 !important;
    border-top: none !important;
    text-align: center !important;
    margin: 0px auto !important;
}

.poem-left {
    left: 0 !important;
}
.poem-right {
    right: 0!important;
}

.poem-border {
    position: absolute !important;
    height: 2px!important;
    width: 35%!important; //调整框线的长度
    background-color: #797979!important;
}

.poem-wrap p {
    width: 70%!important;
    margin: auto!important;
    line-height: 30px!important;
    color: #797979!important;
}

.poem-wrap h1 {
    position: relative!important;
    margin-top: -100px!important;
    display: inline-block!important;
    letter-spacing: 12px!important;
    color: #797979!important;
    border-bottom: 1px solid rgba(68,68,68,0) !important;
}
.poem-wrap p#poem {
    font-size: 15px!important;
    text-align: center !important;
}
.poem-wrap p#info {
    font-size: 8px!important;
    margin: 15px auto!important;
    text-align: center !important;
}

.md p.katex-block
  @media screen and (max-width: $device-tablet)
    overflow: scroll;
